
/* Container */
.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Section */
.skills-section {
  padding-top: 5rem;  
  padding-bottom: 10rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

/* Header */
.skills-header {
  text-align: center;
  margin-bottom: 4rem;
}

.skills-title {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: 'YourHeadingFont', sans-serif;
  margin-bottom: 1rem;
}


.skills-description {
  font-size: 1.125rem;
  color: #6B7280; 
  max-width: 40rem;
  margin: 0 auto;
}


.text-gradient {
  background: linear-gradient(90deg, #6EE7B7, #3B82F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.skills-grid {
  display: grid;
  gap: 1.5rem;
}


/* Card */
.skills-card {
  border: 1px solid rgba(156, 163, 175, 0.5); 
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
  
}

.skills-card:hover {
  transform: translateY(-5px);
}

.skills-card-title {
  font-size: 1.25rem;
   color: #38BDF8;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'YourHeadingFont', sans-serif;
}

/* Skills list */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

/* Individual Skill */
.skill-tag {
  font-size: 0.75rem;
  padding: 0.4rem 0.75rem;
  border-radius: 0.375rem;
  background-color: #f3f4f6;
  color: #374151;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.skill-tag:hover {
  background-color: rgba(59, 130, 246, 0.2);
   color: #38BDF8;
}

@media(max-width:320px){
  .skills-section {
  padding-top: 1rem;  
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
  .skills-title {
    font-size: 2rem;
  }
.skills-description {
  font-size: 1rem;
  color: #6B7280; 
  max-width: 40rem;
  margin: 0 auto;
}
  .skills-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {

  .skills-section {
  padding-top: 1rem;  
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
  .skills-title {
    font-size: 2rem;
  }
.skills-description {
  font-size: 1rem;
  color: #6B7280; 
  max-width: 40rem;
  margin: 0 auto;
}
  .skills-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
    .skills-section {
  padding-top: 1rem;  
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
  .skills-title {
    font-size: 2.25rem;
  }
.skills-description {
  font-size: 1rem;
  color: #6B7280; 
  max-width: 40rem;
  margin: 0 auto;
}
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}