.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 40px 170px;
}
.mywork-title{
    position: relative;

}
.mywork-title h1{
    padding: 0px 10px;
    font-size: 60px;
    font-weight: 600;
}
/* .mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
} */
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border:4px solid #80ffff;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap:15px;
    border:2px solid white;
    border-radius: 50px;
    padding: 20px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    transform: scale(1.12);
    transition: 0.3s;
    gap:30px;
    background: linear-gradient(264deg, #34D399 -5.09%, #6366F1 106.28%)
}
@media(max-width:768px){
 .mywork{
    align-items: start;
    gap: 30px;
    margin: 0px 70px;
 }
 .mywork-title h1{
    padding: 0px;
    font-size: 50px;
 }
 .mywork-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
 }
 .mywork-showmore{
    padding: 15px 50px;
    font-size: 20px;
 }
}