.footer{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size:18px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    gap:35px;
    align-items: center;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background:  #1F2937;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 16px;
}
.footer-subscribe{
    font-size: 20px;
    padding: 18px 50px;
    border-radius: 50px;
    background:linear-gradient(264deg, #34D399 -5.09%, #6366F1 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display:flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border: 2px solid white;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}